<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/css/edit.css">
    <title>Edit</title>
    <script src="../Static/script/edit.js" defer></script>
</head>

<body>
    <%if(singleData){%>
        <div class="main">
            <form class="container" action="/editOne/<%=singleData.id%>" method="post">
                <div class="all-titles">
                    <p class="title">App / Website name :</p>
                    <p class="title">Username :</p>
                    <p class="title">Email :</p>
                    <p class="title">Password :</p>
                </div>
                <div class="all-contents">
                    <label for="appname">
                        <%=singleData.appname%>
                    </label>
                    <input class="content" placeholder="" name="appname" id="appname" required>
                    <label for="username">
                        <%=singleData.username%>
                    </label>
                    <input class="content" placeholder="" name="username" id="username" required>
                    <label for="email">
                        <%=singleData.email%>
                    </label>
                    <input class="content" placeholder="" name="email" id="email" required>
                    <label for="password">
                        <%=singleData.password%>
                    </label>
                    <input class="content" placeholder="" name="password" id="password" required>
                </div>
                <div class="btn">
                    <input class="edit" type="submit" value="Edit">
            </form>
            <form action="/home" method="get">
                <input class="cancel" type="submit" value="Cancel">

            </form>
        </div>
        </div>

        <%}else{%>
            <h1>No Data Found</h1>
            <%}%>

</body>

</html>